.chip {
  display: inline-block;
  height: 58px;
  font-size: 24px;
  font-weight: 500;
  color: rgba(0,0,0,.6);
  line-height: 32px;
  padding: 8px 12px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 5px;

  img {
    
    margin: 0 8px 0 -12px;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    padding: 2px;
  }

  i.material-icons {
    cursor: pointer;
    float: right;
    font-size: 18px;
    line-height: 32px;
    padding-left: 8px;
  }
}