.collapsible {
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  margin: 5px;
  z-depth: 2;
}

.collapsible-header {
  display: block;
  cursor: pointer;
  color: white;
  padding: 0 1rem;
  background-color: rgba(13, 12, 12, 0.88);
  border-bottom: 1px solid grey;

  i {
    width: 2rem;
    font-size: 1.6rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
      color: white;

  }
}

.collapsible-body {
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  color: white;

  p {
    margin: 0;
    padding: 2rem;
    
  }
}