@import "materialize/components/color";
  $primary-color: color("blue", "darken-1") !default;
  $primary-color-light: false !default;
  $primary-color-dark: false !default;
  @if not $primary-color-light {
    $primary-color-light: lighten($primary-color, 15%);
  }
  @if not $primary-color-dark {
    $primary-color-dark: darken($primary-color, 15%);
  }
  $secondary-color: color("blue", "lighten-1") !default;
  $success-color: color("green", "base") !default;
  $error-color: color("red", "base") !default;
  $link-color: color("light-blue", "darken-1") !default;

@import 'materialize';


/*--------------------------------------------------------------
BASE STYLES
--------------------------------------------------------------*/
body {
	background: color("blue", "darken-1");
}

a {
  text-decoration: none;
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

html{
  line-height: 1.5;

  @media only screen and (min-width: 0) {
    font-size: 18.5px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 18.5px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 19px;
  }

  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: $off-black;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
}

/* ---- Layout Containers ---- */
.brand-logo {
	width: 260px;
	height: 70px;
}

.banner,
.main-footer {
	text-align: center;
}

.banner {
	width: 100%;
	padding: 3.2em 0;
  background-size: 100% 100%;
}

.main {
	width: 100%;
	padding: 3.2em 0;
	margin-bottom: 48px;
  background-size: 100% 100%;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}


.main-footer {
	background: color("blue", "lighten-1");
	padding: 2em 0;
	margin-top: 30px;
 
}
.row 	{

width: 100%;
  background-size: 100% 100%;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.row {
		width: 90%;
		margin: 0 auto;
	}
	.tagline {
		font-size: 2.8em;
	}
}

@media (min-width: 1025px) {
	.row {
		width: 80%;
		max-width: 1150px;
	}
}


@media (min-width: 769px) {

	.row {
		display: flex;
	}



	.col {
		flex: 1 50%;
	}

	.row {
		flex-wrap: wrap;
	}


	.secondary {
		order: -1;
	}

}

@media (min-width: 1025px) {

	
	.col {
		flex-basis: 0;
	}

	.primary {
		flex-grow: 1.4;
	}

}



